<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="optimo_ros2_control" params="use_gripper use_sim_hardware robot_index prefix ns">
        <!-- Simulated control -->
        <xacro:if value="${use_sim_hardware}">
            <!-- Gazebo stuff-->
            <ros2_control name="IgnitionSystem" type="system">
                <hardware>
                    <plugin>ign_ros2_control/IgnitionSystem</plugin>
                </hardware>
                <joint name="${prefix}joint1">
                    <command_interface name="effort">
                        <param name="min">-150</param>
                        <param name="max">150</param>
                    </command_interface>
                    <state_interface name="position" />
                    <state_interface name="velocity" />
                    <state_interface name="effort" />
                </joint>
                <joint name="${prefix}joint2">
                    <command_interface name="effort">
                        <param name="min">-150</param>
                        <param name="max">150</param>
                    </command_interface>
                    <state_interface name="position">
                    </state_interface>
                    <state_interface name="velocity" />
                    <state_interface name="effort" />
                </joint>
                <joint name="${prefix}joint3">
                    <command_interface name="effort">
                        <param name="min">-150</param>
                        <param name="max">150</param>
                    </command_interface>
                    <state_interface name="position" />
                    <state_interface name="velocity" />
                    <state_interface name="effort" />
                </joint>
                <joint name="${prefix}joint4">
                    <command_interface name="effort">
                        <param name="min">-150</param>
                        <param name="max">150</param>
                    </command_interface>
                    <state_interface name="position" />
                    <state_interface name="velocity" />
                    <state_interface name="effort" />
                </joint>
                <joint name="${prefix}joint5">
                    <command_interface name="effort">
                        <param name="min">-150</param>
                        <param name="max">150</param>
                    </command_interface>
                    <state_interface name="position" />
                    <state_interface name="velocity" />
                    <state_interface name="effort" />
                </joint>
                <joint name="${prefix}joint6">
                    <command_interface name="effort">
                        <param name="min">-150</param>
                        <param name="max">150</param>
                    </command_interface>
                    <state_interface name="position" />
                    <state_interface name="velocity" />
                    <state_interface name="effort" />
                </joint>
                <joint name="${prefix}joint7">
                    <command_interface name="effort">
                        <param name="min">-150</param>
                        <param name="max">150</param>
                    </command_interface>
                    <state_interface name="position" />
                    <state_interface name="velocity" />
                    <state_interface name="effort" />
                </joint>
                <!-- TODO: need to make gripper mirroring plugin in gazebo myself...-->
                <xacro:if value="${use_gripper}">
                    <joint name="${prefix}left_finger_joint">
                        <command_interface name="position" />
                        <command_interface name="effort" />
                        <state_interface name="position" />
                        <state_interface name="velocity" />
                        <state_interface name="effort" />
                    </joint>
                </xacro:if>
            </ros2_control>

            <!-- Replaces control node launch in sim -->
            <gazebo>
                <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
                    <ros>
                        <namespace>${ns}</namespace>
                    </ros>
                    <parameters>$(find optimo_bringup)/config/modified_control_${robot_index}.yaml</parameters>
                </plugin>
                <plugin filename="MechanicalStop" name="optimo_ros::MechanicalStop">
                    <prefix>${prefix}</prefix>
                    <xacro:if value="${prefix == 'left_arm_'}">
                        <init_pos>0 3.93 -1.57 0 0 0 0</init_pos>
                    </xacro:if>
                    <xacro:if value="${prefix == 'right_arm_'}">
                        <init_pos>0 2.36 1.57 0 0 0 0</init_pos>
                    </xacro:if>
                    <xacro:if value="${prefix == '' or prefix == 'optimo_'}">
                        <init_pos>0 3.3 0 -2.36 0 -1.13 0</init_pos>
                    </xacro:if>

                </plugin>
            </gazebo>

            <!-- Can add a simulated camera source for ACT-->
            <model name="${prefix}camera_model">
                <pose>0 0 1 0 0 0</pose>
                <link name="link">
                    <sensor name="camera_sensor" type="camera">
                        <camera>
                            <horizontal_fov>1.047</horizontal_fov>
                            <image>
                                <width>640</width>
                                <height>480</height>
                                <format>R8G8B8</format>
                            </image>
                            <clip>
                                <near>0.1</near>
                                <far>100</far>
                            </clip>
                            <save enabled="true"/>
                        </camera>
                        <always_on>1</always_on>
                        <update_rate>30</update_rate>
                        <visualize>true</visualize>
                    </sensor>
                </link>
            </model>

        </xacro:if>

        <!-- Real control -->
        <xacro:unless value= "$(arg use_sim_hardware)">
            <ros2_control name="OptimoHardwareInterface" type="system">
                <hardware>
                    <plugin>optimo_hardware/OptimoHardwareInterface</plugin>
                    <param name="robot_index">${robot_index}</param>
                </hardware>
                <joint name="${prefix}joint1">
                    <command_interface name="effort">
                        <param name="min">-150</param>
                        <param name="max">150</param>
                    </command_interface>
                    <state_interface name="position" />
                    <state_interface name="velocity" />
                    <state_interface name="effort" />
                </joint>
                <joint name="${prefix}joint2">
                    <command_interface name="effort">
                        <param name="min">-150</param>
                        <param name="max">150</param>
                    </command_interface>
                    <state_interface name="position">
                    </state_interface>
                    <state_interface name="velocity" />
                    <state_interface name="effort" />
                </joint>
                <joint name="${prefix}joint3">
                    <command_interface name="effort">
                        <param name="min">-150</param>
                        <param name="max">150</param>
                    </command_interface>
                    <state_interface name="position" />
                    <state_interface name="velocity" />
                    <state_interface name="effort" />
                </joint>
                <joint name="${prefix}joint4">
                    <command_interface name="effort">
                        <param name="min">-150</param>
                        <param name="max">150</param>
                    </command_interface>
                    <state_interface name="position" />
                    <state_interface name="velocity" />
                    <state_interface name="effort" />
                </joint>
                <joint name="${prefix}joint5">
                    <command_interface name="effort">
                        <param name="min">-150</param>
                        <param name="max">150</param>
                    </command_interface>
                    <state_interface name="position" />
                    <state_interface name="velocity" />
                    <state_interface name="effort" />
                </joint>
                <joint name="${prefix}joint6">
                    <command_interface name="effort">
                        <param name="min">-150</param>
                        <param name="max">150</param>
                    </command_interface>
                    <state_interface name="position" />
                    <state_interface name="velocity" />
                    <state_interface name="effort" />
                </joint>
                <joint name="${prefix}joint7">
                    <command_interface name="effort">
                        <param name="min">-150</param>
                        <param name="max">150</param>
                    </command_interface>
                    <state_interface name="position" />
                    <state_interface name="velocity" />
                    <state_interface name="effort" />
                </joint>
            </ros2_control>

            <xacro:if value="${use_gripper}">
                <ros2_control name="GripperHardwareInterface" type="system">
                    <hardware>
                        <plugin>optimo_hardware/GripperHardwareInterface</plugin>
                        <param name="robot_index">${robot_index}</param>
                    </hardware>
                    <joint name="${prefix}left_finger_joint">
                        <command_interface name="position" />
                        <command_interface name="effort" />
                        <state_interface name="position" />
                        <state_interface name="velocity" />
                        <state_interface name="effort" />
                    </joint>
                </ros2_control>
            </xacro:if>
        </xacro:unless>
    </xacro:macro>
</robot>
